<app-title title="Defer Triggers" />

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2" />
    
  @defer(on interaction){
    <app-heavy-loaders-fast cssClass="h-20 bg-green-500" >
        <span>On Interaction</span>
      </app-heavy-loaders-fast>    
  }@placeholder {
    <div class="w-full h-20 bg-purple-500">
        click en el div
    </div>
  }

</section>

<section>

  <hr class="my-2" />
  <button 
  #btnInteraction
  class="p-2 my-2 text-white transition-all bg-blue-500 rounded hover:bg-blue-700">
    Click me
  </button>
    
  @defer(on interaction(btnInteraction)){
    <app-heavy-loaders-fast cssClass="h-20 bg-green-500" >
        <span>On Interaction</span>
      </app-heavy-loaders-fast>    
  }@placeholder {
    <div class="w-full h-20 bg-purple-100">
        click en el div
    </div>
  }

</section>

<section>

  <hr class="my-2" />

    
  @defer(on hover){
    <app-heavy-loaders-fast cssClass="h-20 bg-green-500" >
        <span>On Interaction</span>
      </app-heavy-loaders-fast>    
  }@placeholder {
    <div class="w-full h-20 bg-purple-100">
        click en el div
    </div>
  }

</section>

<section>

  <hr class="my-2" />

    
  @defer(on immediate){
    <app-heavy-loaders-fast cssClass="h-20 bg-green-500" >
        <span>On Immediate</span>
      </app-heavy-loaders-fast>    
  }@placeholder {
    <div class="w-full h-20 bg-purple-100">
        click en el div
    </div>
  }

</section>

<section>

  <hr class="my-2" />

    
  @defer(on timer(2000)){
    <app-heavy-loaders-fast cssClass="h-20 bg-green-500" >
        <span>On Timer</span>
      </app-heavy-loaders-fast>    
  }@placeholder {
    <div class="w-full h-20 bg-purple-100">
        2 segs
    </div>
  }

</section>

<section>

  <hr class="my-2" />

    
  @defer(on hover; prefetch on idle){
    <app-heavy-loaders-fast cssClass="h-20 bg-green-500" >
        <span>On hover, idle</span>
      </app-heavy-loaders-fast>    
  }@placeholder {
    <div class="w-full h-20 bg-purple-100">
        Hover
    </div>
  }

</section>